* {
	padding: 0;
	margin: 0;
}

/*
*
** Header
*
*/

.header {
	width: 100%;
	height: 80px;
	border-bottom: #e0e0e0 2px solid;
	display: flex;
	justify-content: space-between;
	background-color: #f0f0f0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 8px 0;
}

.headButtons {
	background-color: blue;
	color: white;
}

.blue_buttons {
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-left: 80px;
}

.add {
	margin-right: 10px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	border-radius: 2px;
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border: 1px solid rgba(0,0,0,0.21);
	background: rgba(102,152,203,1);
	font-size: 17px;
	height: 30px;
	width: 100px;
}

.refresh {
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	border-radius: 2px;
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border: 1px solid rgba(0,0,0,0.21);
	background: rgba(102,152,203,1);
	font-size: 17px;
	height: 30px;
	width: 100px;
}

.search_field {
	display: flex;
	align-items: center;
	margin-top: 15px;
    margin-right: 80px;
}

.input {
	height: 30px;
	width: 240px;
	padding-left: 5px;
	border-radius: 3px;
	font-size: 16px;
}

.input::placeholder {
	color: #D3D3D3;
}

/*
*
** Main 
*
*/

/*
	Control panel
*/

.control_panel {
	margin: 25px 0 0 80px;
}

.dd_mm {
	display: flex;
}

span {
	line-height: 22px;
	text-align: center;
}

.monthLabel {
	padding: 0 10px;
	line-height: 22px;
	font-size: 20px;
	color: black;
	text-align: center;
	width: 135px;
}

.switch_back {
	width: 18px;
	background-color: white;
	border: 1px solid  lightgrey;
}

.switch_forward {
	width: 18px;
	background-color: white;
	border: 1px solid  lightgrey;
}


/*
	Grid
*/


.container4days {
	margin: 20px 80px 0;
	border: #e0e0e0 1px solid;
}

.days {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 20px;
}

.each-day { 
	background-color: black;
}

.day {
	width: 20%;
	border-right: #e0e0e0 1px solid;
}

.row.first {
	height: 70px;
}

.row {
	width: 100%;
	height: 90px;
	border: #e0e0e0 1px solid;
	display: flex;
	flex-direction: row;
	color: #747272;
}

.cell {
	width: 20%;
	border-right: #e0e0e0 1px solid;
	padding: 5px 5px;

}

/*.calendarGrid {
	margin: 20px 80px 0;
	border: #e0e0e0 1px solid;	
}*/



.table {
	width: 100%;
	padding: 20px 75px 0;
}